@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 400;
  src: url("/fonts/Inter-UI-Regular.woff2") format("woff2"),
       url("/fonts/Inter-UI-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 700;
  src: url("/fonts/Inter-UI-Bold.woff2") format("woff2"),
       url("/fonts/Inter-UI-Bold.woff") format("woff");
}


body {
	font-family: 'Inter UI', 'SF Compact Display', -apple-system, 'Segoe UI', sans-serif;
	font-weight: 400;
	font-size: 16px;
	margin: 0;
	background: #F3F4F6;
	font-synthesis: none;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	margin: 0;
	margin-top: 1em;
}

h1 {
	font-size: 3em;
	margin-top: 0;
}

nav {
	margin-right: 10vw;
	font-size: 1.25em;
}

h2, h3, h4, h5, h6, th {
	font-weight: 400;
	color: #82858D;
}

h2 {
	font-size: 2em;
	margin-top: 0;
}

h3 {
	font-size: 1em;
}

table {
	border-spacing: 0;
	font-size: 1.25em;
}

table b {
	display: inline-block;
	min-width: 80px;
}

th:first-child {
	text-align: left;
}

td:not(:first-child) {
	text-align: center;
}

td {
	padding: 0.25rem 0.4rem;
}

td input {
	width: 80%;
}

nav ul {
	margin: 0;
	margin-bottom: 4em;
	padding: 0;
}

nav ul li {
	margin-top: 0.5rem;
	list-style: none;
	font-weight: 700;
}

form ul {
	margin: 0;
	padding: 0;
}

form ul li {
	list-style: none;
	padding-bottom: 10px;
}

form {
	margin-top: 2em;
}

input {
	font-size: 1rem;
	height: 2rem;
	border-radius: 8px;
	box-shadow: none;
	background: #FBFCFE;
	border: 1px solid #82858D;
	padding: 0 0.6rem;
	min-width: 60px;
}

input.placeholder {
	opacity: 0.2;
}

li.name input {
	width: auto;
}

nav ul a {
	color: #1E1E21;
	text-decoration: none;
}

main {
	margin-left: 1.25em;
	display: flex;
}

label {
	display: inline-block;
	min-width: 140px;
	font-weight: 700;
	font-size: 1.25em;
}

